      <!-- navbar header -->
      <div class="navbar-header {{app.settings.navbarHeaderColor}}">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll="app">
          <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="#/" class="navbar-brand text-lt">
          <i class="fa fa-btc"></i>

          <img src="img/logo.png" alt="." class="hide">
          <span class="hidden-folded m-l-xs">{{app.name}}</span>
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
        <!-- buttons -->
        <div class="nav navbar-nav hidden-xs">
          <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
            <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
          </a>
          <!--<a href class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">-->
            <!--<i class="icon-user fa-fw"></i>-->
          <!--</a>-->
        </div>
        <!-- / buttons -->

        <!-- link and dropdown -->
        <ul class="nav navbar-nav hidden-sm">
          <li class="dropdown pos-stc" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              <span>Mega</span>
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu wrapper w-full bg-white">
              <div class="row">
                <div class="col-sm-4">
                  <div class="m-l-xs m-t-xs m-b-xs font-bold">Pages <span class="badge badge-sm bg-success">10</span></div>
                  <div class="row">
                    <div class="col-xs-6">
                      <ul class="list-unstyled l-h-2x">
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Profile</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Post</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Search</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Invoice</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-xs-6">
                      <ul class="list-unstyled l-h-2x">
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Price</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Lock screen</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Sign in</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Sign up</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 b-l b-light">
                  <div class="m-l-xs m-t-xs m-b-xs font-bold">UI Kits <span class="label label-sm bg-primary">12</span></div>
                  <div class="row">
                    <div class="col-xs-6">
                      <ul class="list-unstyled l-h-2x">
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Buttons</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Icons <span class="badge badge-sm bg-warning">1000+</span></a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Grid</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Widgets</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-xs-6">
                      <ul class="list-unstyled l-h-2x">
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Bootstap</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Sortable</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Portlet</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Timeline</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 b-l b-light">
                  <div class="m-l-xs m-t-xs m-b-sm font-bold">Analysis</div>
                  <div class="text-center">
                    <div class="inline">
                      <div ui-jq="easyPieChart" ui-options="{
                          percent: 65,
                          lineWidth: 50,
                          trackColor: '{{app.color.light}}',
                          barColor: '{{app.color.info}}',
                          scaleColor: false,
                          size: 100,
                          rotate: 90,
                          lineCap: 'butt',
                          animate: 2000
                        }">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
              <span translate="header.navbar.new.NEW">New</span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" translate="header.navbar.new.PROJECT">Projects</a></li>
              <li>
                <a href>
                  <span class="badge bg-info pull-right">5</span>
                  <span translate="header.navbar.new.TASK">Task</span>
                </a>
              </li>
              <li><a href translate="header.navbar.new.USER">User</a></li>
              <li class="divider"></li>
              <li>
                <a href>
                  <span class="badge bg-danger pull-right">4</span>
                  <span translate="header.navbar.new.EMAIL">Email</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- / link and dropdown -->

        <!-- search form -->
        <form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" target=".navbar-collapse" role="search" ng-controller="TypeaheadDemoCtrl">
          <div class="form-group">
            <div class="input-group">
              <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control input-sm bg-light no-border rounded padder" placeholder="Search projects...">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </form>
        <!-- / search form -->

        <!--软电话-->
        <form class="navbar-form navbar-form-sm navbar-left">
            <div id="softphone-bar" class="base_style">
                <div id="phone_bar">
                    <div class="input-append form-group">
                        <input id="dialout_input" class="form-control input-sm padder" type="text" placeholder="拨打电话" style="display: none;font-size: 15px;width: 140px;border-radius: 5px;padding: 0px 6px 0px 5px;" onkeydown="if(event.keyCode==13){holly.softphonebar.softphonebar_dialout($('#dialout_input').val());}">
                        <button id="DialEnable" class="btn btn-success btn-sm" type="button" onclick="holly.softphonebar.softphonebar_dialout($('#dialout_input').val());" style="display:none">
                            呼叫
                        </button>
                    </div>
                    <div class="btn-group">
                        <button id="HoldEnable" type="button" class="btn  btn-sm btn-primary" style="display:none;" onclick="holly.phone.phone_hold();">
                            <i class="icon-pause icon-white"></i>保持
                        </button>
                        <button id="HoldGetEnable" type="button" class="btn  btn-sm btn-primary" onclick="holly.phone.phone_unhold();" style="display:none;" >
                            <i class="icon-play icon-white"></i>恢复
                        </button>
                        <button id="TransferEnable" type="button" class="btn  btn-sm btn-primary" style="display:none" onclick="holly.phone.phone_openTransferOrConsult('softphone_transfer');">
                            <i class="icon-arrow-right icon-white"></i>转接
                        </button>
                        <!--<button id="TransferEnable" type="button" class="btn btn-sm btn-primary" style="display:none" onclick="holly.phone.phone_transfer('34000212','skillgroup');">-->
                        <!--<i class="icon-arrow-right icon-white"></i>转接-->
                        <!--</button>-->
                        <button id="ConsultTransferEnable" type="button" class="btn btn-sm btn-primary" style="display:none" onclick="holly.phone.phone_transfer('9123456', 'number');">
                            <i class="icon-arrow-right icon-white"></i>转接
                        </button>
                        <button id="ConsultEnable" type="button" class="btn btn-sm btn-primary" style="display:none" onclick="holly.phone.phone_openTransferOrConsult('softphone_consult');">
                            <i class="icon-random icon-white"></i>咨询
                        </button>
                        <button id="InvestigateEnable" type="button" class="btn btn-sm btn-primary" style="display:none" onclick="holly.phone.phone_investigate();">
                            <i class="icon-share icon-white"></i>转调查
                        </button>
                        <button id="ThreeWayCallEnable" class="btn btn-sm btn-primary" style="display:none">
                            <i class="icon-plus icon-white"></i>三方
                        </button>
                        <button id="ConsultThreeWayCallEnable" type="button" class="btn btn-sm btn-primary" style="display: none" onclick="holly.phone.phone_threewaycall('9123456');">
                            <i class="icon-plus icon-white"></i>三方
                        </button>
                        <button id="StopConsultEnable" type="button" class="btn btn-sm btn-danger" style="display:none" onclick="holly.phone.phone_stopConsult();">
                            <i class="icon-random icon-white"></i>结束咨询
                        </button>
                        <button id="HangupEnable" type="button" class="btn btn-sm btn-danger" onclick="holly.softphonebar.softphonebar_hangup();"
                                style="display:none;">
                            <i class="icon-arrow-down icon-white"></i>挂机
                        </button>
                    </div>
                </div>
                <div class="state_group">
                    <div id="softphone_timer" class="fr state_time">00:00:00</div>
                    <img class="fr state_line" src="img/line.png" />
                    <div id="softphone_dropdown" class="fr state_dropdown">
                        <b id="softphone_dropdown_caret" class="caret"></b>
                    </div>
                    <div id="softphone_phonestate" class="fr state">失效</div>
                </div>
                <div class="input-append">
                    <button id="softphoneBarKick" type="button" class="btn-sm btn btn-primary" style="display:none;">
                        签出
                    </button>
                    <button id="softphoneBarPick" type="button" class="btn-sm btn-primary btn" style="display:none;">
                        签入
                    </button>
                </div>
                <div id="softphone_otherstate" class="customer_db"></div>
                <div id ="softphone-bar-bgdiv" class="softphone-transfer-bg-div"></div>
                <div id="softphone_consult" class="softphone-transfer-div"></div>
                <div id="softphone_transfer" class="softphone-transfer-div"></div>
                <div id="icc_event"></div>
            </div>
            <script type="text/javascript">
                holly.app._initSoftbarPhone();
            </script>
        </form>
          <!--/ 软电话-->

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
          <!--<li class="dropdown hidden-sm" is-open="lang.isopen" dropdown>-->
            <!--<a href class="dropdown-toggle" dropdown-toggle>-->
              <!--{{selectLang}} <b class="caret"></b>-->
            <!--</a>-->
            <!--&lt;!&ndash; dropdown &ndash;&gt;-->
            <!--<ul class="dropdown-menu animated fadeInRight w">-->
              <!--<li ng-repeat="(langKey, label) in langs">-->
                <!--<a ng-click="setLang(langKey, $event)" href>{{label}}</a>-->
              <!--</li>-->
            <!--</ul>-->
            <!--&lt;!&ndash; / dropdown &ndash;&gt;-->
          <!--</li>-->
          <li class="hidden-xs">
            <a ui-fullscreen></a>
          </li>
          <li class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              <i class="icon-bell fa-fw"></i>
              <span class="visible-xs-inline">Notifications</span>
              <span class="badge badge-sm up bg-danger pull-right-xs">2</span>
            </a>
            <!-- dropdown -->
            <div class="dropdown-menu w-xl animated fadeInUp">
              <div class="panel bg-white">
                <div class="panel-heading b-light bg-light">
                  <strong>You have <span>2</span> notifications</strong>
                </div>
                <div class="list-group">
                  <a href class="media list-group-item">
                    <span class="pull-left thumb-sm">
                      <img src="img/a0.jpg" alt="..." class="img-circle">
                    </span>
                    <span class="media-body block m-b-none">
                      Use awesome animate.css<br>
                      <small class="text-muted">10 minutes ago</small>
                    </span>
                  </a>
                  <a href class="media list-group-item">
                    <span class="media-body block m-b-none">
                      1.0 initial released<br>
                      <small class="text-muted">1 hour ago</small>
                    </span>
                  </a>
                </div>
                <div class="panel-footer text-sm">
                  <a href class="pull-right"><i class="fa fa-cog"></i></a>
                  <a href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a>
                </div>
              </div>
            </div>
            <!-- / dropdown -->
          </li>
          <li class="dropdown" dropdown>
            <a href class="dropdown-toggle clear" dropdown-toggle>
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="img/a0.jpg" alt="...">
                <i class="on md b-white bottom"></i>
              </span>
              <span class="hidden-sm hidden-md">John.Smith</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
              <li class="wrapper b-b m-b-sm bg-light m-t-n-xs">
                <div>
                  <p>300mb of 500mb used</p>
                </div>
                <progressbar value="60" class="progress-xs m-b-none bg-white"></progressbar>
              </li>
              <li>
                <a href>
                  <span class="badge bg-danger pull-right">30%</span>
                  <span>Settings</span>
                </a>
              </li>
              <li>
                <a ui-sref="app.page.profile">Profile</a>
              </li>
              <li>
                <a ui-sref="app.docs">
                  <span class="label bg-info pull-right">new</span>
                  Help
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a ui-sref="login">Logout</a>
              </li>
            </ul>
            <!-- / dropdown -->
          </li>
        </ul>
        <!-- / navbar right -->

      </div>
      <!-- / navbar collapse -->