<div class="form-group form-group-sm">
    <div class="col-md-3">
        <label class="col-md-4 control-label">地址：</label>
        <label class="col-md-8">
            <input type="text" placeholder="地址" class="form-control" ng-model="paramsRingDatas.customerAddress">
        </label>
    </div>
    <div class="col-md-3">
        <label class="col-md-4 control-label">email：</label>
        <label class="col-md-8">
            <input type="email" placeholder="email" class="form-control" ng-model="paramsRingDatas.customerEmail">
        </label>
    </div>
    <div class="col-md-3">
        <label class="col-md-4 control-label">微信：</label>
        <label class="col-md-8">
            <input type="text" placeholder="微信" class="form-control" ng-model="paramsRingDatas.weixin">
        </label>
    </div>
    <div class="col-md-3">
        <label class="col-md-4 control-label">QQ：</label>
        <label class="col-md-8">
            <input type="text" placeholder="8888888888888888" class="form-control" ng-model="paramsRingDatas.qq">
        </label>
    </div>
</div>